 <style>
       .back{background-color: #324D5C;}
       .back_main{background-color: white;
       
       width: 30%;
       margin: auto;
           margin-top: 20%;
           padding: 20px;
       }
       .margin_data{margin:auto;text-align: center;}
    </style>